@font-face {
  font-family: math;
  src: local('STIX Two Math'),
  /*url('https://example.com/assets/fonts/math/STIXTwoMath-Regular.woff2') format('woff2');*/
}
math {
  font-family: math;
  letter-spacing: 0.075em;
  @supports (-moz-appearance: none) {
    letter-spacing: initial;
  }
}
math:not([display="block"]) {
  margin: 0 0.15em;
}
math[display="block"] {
  margin: 2em auto;
  /* Centering Multiple Expressions */
  mtable > :is(mtr, mlabeledtr) > mtd {
    padding: 0.5em 0;
  }
  mtable[columnalign="right left"] > mtr > mtd {
    &:nth-child(1) {
      text-align: -webkit-right; /* for chrome */
    }
    &:not(:nth-child(1)) {
      text-align: -webkit-left; /* for chrome */
    }
  }
  /* formula number by \tag{} */
  &:has(mlabeledtr > mtd[id^="mjx-eqn"]) {
    inline-size: 100%;
    margin-inline: 0;
    mtable {
      inline-size: inherit;
      > mlabeledtr {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        > mtd {
          display: math;
          @supports (-moz-appearance: none) {
            display: block;
            &:nth-child(1) {
              padding-inline-end: 0.5em;
            }
          }
          &:nth-child(2) {
            margin-inline: auto;
            @media (min-width: 600px) {
              padding-inline-start: 1.5em;
            }
          }
        }
      }
    }
  }
  /* When displaying a multi-line formula, it is currently not possible to display the formula number on the right side using \tag{}. */
  &:has(mtr + mlabeledtr, mlabeledtr + mtr) {
    background: lightpink;
    width: fit-content;
    table > mlabeledtr {
      display: none; /* can't render it properly yet. */
    }
  }
}
